<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assests/devil.svg" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="/CSS/reset.css">
    <link rel="stylesheet" href="/CSS/home.css">
    <title>Black Devil</title>
</head>

<body>
    <section id="firstHalf">
        <header>
            <h1>Black Devil</h1>
        </header>
    </section>
    <section id="secondHalf">
        <main>
            <form action="/search" method="get">
                <input type="text" name="userKey" placeholder="Type Any Movie Name" id="searchInput"><br>
                <input type="submit" value="Search" id="homeButton">
            </form>
        </main>
        <footer>
            <p>All rights are reserved 2020 &copy;</p>
        </footer>
    </section>
</body>

</html>